[Desktop Entry]
Name=DWM
Comment=This session logs you into Ubuntu
Exec=/usr/local/bin/dwm
Type=Application
DesktopNames=ubuntu:dwn
X-GDM-SessionRegisters=true
X-Ubuntu-Gettext-Domain=gnome-session-3.0
